*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}
@media only screen and (max-width: 81.25em) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 35em) {
  html {
    font-size: 47%;
  }
}
@media only screen and (max-width: 30em) {
  html {
    font-size: 44%;
  }
}

.container {
  background-color: #f6f0ec;
  color: #282828;
  position: relative;
  display: grid;
  grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
  grid-template-rows: 100vh repeat(4, min-content);
}
@media only screen and (max-width: 35em) {
  .container {
    grid-template-columns: [full-start] minmax(2.5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(2.5rem, 1fr) [full-end];
  }
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 0;
  transform: skewY(5deg);
  transform-origin: top right;
}

.header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5rem;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  cursor: default;
  background: #fff;
  padding-top: 1rem;
}
@media only screen and (max-width: 35em) {
  .header {
    padding: 0;
  }
}
@media only screen and (max-width: 30em) {
  .header {
    justify-content: center;
  }
}
.header .name {
  font-weight: bold;
  font-size: 3rem;
}
@media only screen and (max-width: 30em) {
  .header .name {
    font-size: 0;
  }
}
.header__scroll {
  transition: all 0.3s ease;
  box-shadow: 0px 0px 5px #000;
  background: #fff;
  padding-top: 0rem;
}
.header .navigation {
  list-style: none;
  display: flex;
}
.header .navigation__item {
  margin: 0 1rem;
  padding-bottom: 1px;
  transition: color 0.2s, border-color 0.2s, background-color 0.2s, padding 0.2s;
  cursor: pointer;
}
@media (hover: hover) {
  .header .navigation__item:hover {
    color: rgba(0, 0, 0, 0.4823529412);
    border-color: rgba(91, 88, 88, 0.4823529412);
  }
}
.header .navigation__item a:visited,
.header .navigation__item a:link,
.header .navigation__item a:active,
.header .navigation__item a:link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4823529412);
}
.header .navigation__item--not-scrolled {
  border-bottom: 2px solid #282727;
  padding: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .header .navigation__item--not-scrolled {
    padding: 0;
    border-bottom: 0;
  }
}
.header .navigation__item--not-scrolled:last-of-type {
  border-bottom: 0;
  border-radius: 5px;
}
@media (hover: hover) {
  .header .navigation__item--not-scrolled:last-of-type {
    background-color: #282828;
    color: #fff;
  }
  .header .navigation__item--not-scrolled:last-of-type:hover {
    background-color: rgba(91, 88, 88, 0.4823529412);
  }
}
.header .navigation__item-scrolled {
  background-color: none;
  padding: 0;
}

.about {
  grid-column: center-start/center-end;
  padding: 5rem 0;
}
@media only screen and (max-width: 81.25em) {
  .about {
    padding: 2.5rem 0;
    grid-column: full-start/full-end;
  }
}
.about__heading {
  text-align: center;
}

.profile {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .profile {
    flex-direction: column;
    margin-top: 2.5rem;
  }
}
.profile__info {
  font-size: 2.5rem;
  text-align: justify;
  flex: 70%;
  padding: 2rem 5rem;
}
@media only screen and (max-width: 35em) {
  .profile__info {
    padding: 2rem 2rem;
  }
}
.profile__photo {
  flex: 30%;
}
.profile__photo img {
  width: 100%;
  max-width: 50em;
  height: 100%;
  border-radius: 5%;
  box-shadow: 0px 0px 10px #000;
}
@media only screen and (max-width: 81.25em) {
  .profile__photo {
    padding: 2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .profile__photo {
    width: 60%;
  }
}

.contact {
  grid-column: full-start/full-end;
  padding: 2.5rem 0;
  margin-top: 5rem;
  height: 40vh;
}
.contact a:visited,
.contact a:link,
.contact a:active,
.contact a:link {
  text-decoration: none;
}
.contact__bio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.contact .bio__header {
  display: flex;
}
.contact .bio__header__photo {
  display: flex;
  flex-wrap: wrap;
}
.contact .bio__header__photo img {
  width: 15vw;
  border-radius: 25%;
}
.contact .bio__body {
  transition: all 0.2s;
}
.contact .bio__body__info {
  padding: 2rem;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}
.contact .bio__body__info .info__icon {
  transition: all 0.5s;
}
.contact .bio__body__info .info__icon img {
  width: 8rem;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.171);
}
.contact .bio__body__info .info__icon:hover {
  transform: scale(1.2);
}
.contact .bio__body__info .info__detail {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.contact .bio__body__info .info__detail__platform {
  font-size: 3rem;
}
.contact .bio__body__info .info__detail__det {
  color: rgb(105, 95, 95);
}

.landscape {
  grid-column: full-start/full-end;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  cursor: default;
  letter-spacing: 0.3rem;
  z-index: 10;
}
.landscape__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #282828;
}
.landscape__header__preheader {
  font-size: 5rem;
}
@media only screen and (max-width: 30em) {
  .landscape__header__preheader {
    font-size: 4rem;
  }
}
.landscape__header__heading {
  font-size: 10rem;
}
@media only screen and (max-width: 30em) {
  .landscape__header__heading {
    font-size: 7rem;
  }
}
.landscape__header__subheading {
  font-size: 5rem;
}
@media only screen and (max-width: 30em) {
  .landscape__header__subheading {
    font-size: 3.5rem;
  }
}
.landscape__scroll {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.landscape__scroll__icon {
  font-size: 15rem;
  display: block;
  transition: transform 0.4s;
  width: 10rem;
}
@media (hover: hover) {
  .landscape__scroll__icon:hover {
    transform: scale(1.2) translateY(1rem);
  }
}

.project {
  grid-column: center-start/center-end;
  display: grid;
  justify-items: center;
  gap: 4rem;
  padding: 5rem 0;
}
.project__heading {
  text-align: center;
}
@media only screen and (max-width: 35em) {
  .project {
    grid-column: full-start/full-end;
    padding: 2.5rem;
  }
}

.separator {
  margin: 0 auto;
  width: 85%;
  height: 1px;
  background-color: hsla(0, 9%, 19%, 0.105);
}

.web {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  max-width: 140rem;
}
.web a:visited,
.web a:link,
.web a:active,
.web a:link {
  color: inherit;
  border: 1px dotted inherit;
}
@media only screen and (max-width: 56.25em) {
  .web {
    padding: 2rem;
  }
}
@media only screen and (max-width: 100em) {
  .web {
    flex-direction: column;
  }
}
@media only screen and (max-width: 30em) {
  .web {
    padding: 0 0 1rem 0;
    margin-top: 3.5rem;
  }
}
.web__image {
  position: relative;
  transition: all 0.3s;
  flex: 1;
  display: flex;
  justify-content: center;
}
.web__image img {
  width: 55rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
@media only screen and (max-width: 100em) {
  .web__image img {
    width: 100%;
    height: 40rem;
  }
}
.web__info {
  padding: 0 2.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.web__info__heading {
  text-align: center;
}
@media only screen and (max-width: 100em) {
  .web__info__heading {
    margin-top: 2rem;
  }
}
.web__info__description {
  font-size: 2.5rem;
  text-align: justify;
}
.web__info__links {
  font-size: 3rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  align-items: center;
  font-weight: 800;
}
.web__info__links img {
  width: 3rem;
  transition: all 0.3s;
}
.web__info__links__box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.web__info__links a:visited,
.web__info__links a:link,
.web__info__links a:active,
.web__info__links a:link {
  color: #000;
  text-decoration: none;
  transition: all 0.2s;
}
.web__info__links a:visited:hover,
.web__info__links a:link:hover,
.web__info__links a:active:hover,
.web__info__links a:link:hover {
  color: rgba(0, 0, 0, 0.5529411765);
  transition: all 0.3s;
}
.web__info__links a:visited:hover img,
.web__info__links a:link:hover img,
.web__info__links a:active:hover img,
.web__info__links a:link:hover img {
  transform: scale(1.1);
}

.used-technologies {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}
.used-technologies__name {
  font-weight: 600;
  text-align: center;
}

.github {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.github a:visited,
.github a:link,
.github a:active,
.github a:link {
  color: inherit;
  border: 1px dotted inherit;
}
.github h2 {
  margin: 4rem 0 2rem 0;
}
.github img {
  transition: all 0.5s;
  width: 8rem;
  cursor: pointer;
}
.github img:hover {
  transform: scale(1.2);
}

footer {
  grid-column: full-start/full-end;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.line {
  width: 80%;
  height: 2px;
  margin: 2rem 0;
}

.line--w {
  background-color: #000;
}

.line--b {
  background-color: rgb(98, 98, 129);
  margin: 0 auto;
}

.heading--l {
  font-size: 4.75rem;
}

.heading--m {
  font-size: 3.5rem;
}

.heading--s {
  font-size: 3rem;
}

.ta-c {
  text-align: center;
}

.mb-s {
  margin-bottom: 2.5rem;
}

.mt--m {
  margin-top: 3rem;
}

.underscore {
  border-bottom: 2px solid #282828;
}

.skills {
  padding: 5rem 0;
  grid-column: full-start/full-end;
}
@media only screen and (min-width: 56.25em) {
  .skills {
    grid-column: center-start/center-end;
  }
}
@media only screen and (max-width: 35em) {
  .skills {
    padding: 2.5rem 0;
  }
}
.skills__heading {
  text-align: center;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-row-gap: 3rem;
  margin-top: 4rem;
  padding: 0 5rem;
}
@media only screen and (max-width: 35em) {
  .technologies {
    margin-top: 2.5rem;
    padding: 0 2.5rem;
  }
}
.technologies__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  transition: all 0.5s;
}
@media (hover: hover) {
  .technologies__card:hover {
    transform: scale(1.15);
  }
}
.technologies__card__head {
  font-size: 3rem;
  font-weight: 300;
}
.technologies__card__body {
  padding: 1rem 5rem;
}
.technologies__card__body img {
  width: 10rem;
}

.journey {
  margin: 5rem 2rem;
  font-size: 2.5rem;
}
@media only screen and (max-width: 91.25em) {
  .journey {
    grid-column: center-start/center-end;
  }
}
.journey__heading {
  text-align: center;
}
.journey__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.journey__item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem 0;
}
.journey__item__heading {
  text-align: center;
}
.journey__item__body {
  text-align: center;
  max-width: 40em;
}
.journey__item__footer {
  text-align: center;
  font-size: 2rem;
}