*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}

@media only screen and (max-width: 81.25em) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 35em) {
  html {
    font-size: 47%;
  }
}

@media only screen and (max-width: 30em) {
  html {
    font-size: 44%;
  }
}

.container {
  color: #282828;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] minmax(5rem, 1fr) [center-start] ([col-start] minmax(min-content, 1fr) [col-end])[8] [center-end] minmax(5rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 1fr) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
  -ms-grid-rows: 100vh (min-content)[4];
      grid-template-rows: 100vh repeat(4, -webkit-min-content);
      grid-template-rows: 100vh repeat(4, min-content);
}

@media only screen and (max-width: 35em) {
  .container {
    -ms-grid-columns: [full-start] minmax(2.5rem, 1fr) [center-start] ([col-start] minmax(min-content, 1fr) [col-end])[8] [center-end] minmax(2.5rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(2.5rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 1fr) [col-end]) [center-end] minmax(2.5rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(2.5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(2.5rem, 1fr) [full-end];
  }
}

.header {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.5rem;
  padding: 0 2rem;
  -webkit-box-shadow: 0px 0px 5px #000;
          box-shadow: 0px 0px 5px #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  cursor: default;
}

@media only screen and (max-width: 35em) {
  .header {
    padding: 0;
  }
}

@media only screen and (max-width: 30em) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .name {
  font-weight: bold;
  font-size: 3rem;
}

@media only screen and (max-width: 30em) {
  .header .name {
    font-size: 0;
  }
}

.header .navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navigation__item {
  padding: 0 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (hover: hover) {
  .header .navigation__item:hover {
    -webkit-transform: translateY(0.3rem) scale(1.1);
            transform: translateY(0.3rem) scale(1.1);
    cursor: pointer;
  }
}

.header .navigation__item a:visited,
.header .navigation__item a:link,
.header .navigation__item a:active,
.header .navigation__item a:link {
  text-decoration: none;
  color: #282828;
}

.about {
  grid-column: center-start / center-end;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 5rem 0;
}

@media only screen and (max-width: 81.25em) {
  .about {
    padding: 2.5rem 0;
    grid-column: full-start / full-end;
  }
}

.about__heading {
  text-align: center;
}

.profile {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2.5rem;
  }
}

.profile__info {
  font-size: 2.5rem;
  text-align: justify;
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  padding: 2rem 5rem;
}

@media only screen and (max-width: 35em) {
  .profile__info {
    padding: 2rem 2rem;
  }
}

.profile__photo {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

.profile__photo img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  -webkit-box-shadow: 0px 0px 10px #000;
          box-shadow: 0px 0px 10px #000;
}

@media only screen and (max-width: 81.25em) {
  .profile__photo {
    padding: 2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .profile__photo {
    width: 60%;
  }
}

.contact {
  grid-column: full-start / full-end;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  padding: 2.5rem 0;
  margin-top: 2rem;
}

.contact a:visited,
.contact a:link,
.contact a:active,
.contact a:link {
  text-decoration: none;
}

.contact__bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .bio__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .bio__header__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .bio__header__photo img {
  width: 15vw;
  border-radius: 25%;
}

.contact .bio__body {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contact .bio__body__info {
  padding: 2rem;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .bio__body__info .info__icon {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.contact .bio__body__info .info__icon img {
  width: 8rem;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.171);
          box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.171);
}

.contact .bio__body__info .info__icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact .bio__body__info .info__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
}

.contact .bio__body__info .info__detail__platform {
  font-size: 3rem;
}

.contact .bio__body__info .info__detail__det {
  color: #695f5f;
}

.landscape {
  grid-column: full-start / full-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 60, 61, 0.8)), to(rgba(45, 46, 48, 0.8))), url(../img/landscape2.jpg);
  background-image: linear-gradient(rgba(58, 60, 61, 0.8), rgba(45, 46, 48, 0.8)), url(../img/landscape2.jpg);
  background-attachment: fixed;
  background-position-y: 50%;
  background-position-x: 50%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
  cursor: default;
  letter-spacing: .3rem;
}

@media only screen and (max-width: 81.25em) {
  .landscape {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 60, 61, 0.8)), to(rgba(45, 46, 48, 0.8))), url(../img/mediumres.jpg);
    background-image: linear-gradient(rgba(58, 60, 61, 0.8), rgba(45, 46, 48, 0.8)), url(../img/mediumres.jpg);
  }
}

@media only screen and (max-width: 30em) {
  .landscape {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 60, 61, 0.8)), to(rgba(45, 46, 48, 0.8))), url(../img/mobileres.jpg);
    background-image: linear-gradient(rgba(58, 60, 61, 0.8), rgba(45, 46, 48, 0.8)), url(../img/mobileres.jpg);
  }
}

.landscape__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.landscape__header__preheader {
  font-size: 5rem;
}

@media only screen and (max-width: 30em) {
  .landscape__header__preheader {
    font-size: 4rem;
  }
}

.landscape__header__heading {
  font-size: 10rem;
}

@media only screen and (max-width: 30em) {
  .landscape__header__heading {
    font-size: 7rem;
  }
}

.landscape__header__subheading {
  font-size: 5rem;
}

@media only screen and (max-width: 30em) {
  .landscape__header__subheading {
    font-size: 3.5rem;
  }
}

.landscape__scroll {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.landscape__scroll__icon {
  font-size: 15rem;
  display: block;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  width: 10rem;
}

@media (hover: hover) {
  .landscape__scroll__icon:hover {
    -webkit-transform: scale(1.2) translateY(1rem);
            transform: scale(1.2) translateY(1rem);
  }
}

.project {
  grid-column: center-start / center-end;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  padding: 5rem 0;
}

.project__heading {
  text-align: center;
}

@media only screen and (max-width: 35em) {
  .project {
    grid-column: full-start / full-end;
    padding: 2.5rem;
  }
}

.web {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.219);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.219);
  padding: 1rem 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  place-items: center;
}

@media only screen and (max-width: 56.25em) {
  .web {
    padding: 2rem;
  }
}

@media only screen and (max-width: 100em) {
  .web {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 30em) {
  .web {
    padding: 0 0 1rem 0;
    margin-top: 3.5rem;
  }
}

.web__image {
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.web__image a:visited,
.web__image a:link,
.web__image a:active,
.web__image a:link {
  text-decoration: none;
  color: #fff;
}

.web__image img {
  width: 55rem;
  height: 31rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 100em) {
  .web__image img {
    width: 100%;
  }
}

@media (hover: hover) {
  .web__image:hover .linkVisit {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    background-color: #3a3636;
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 0;
  }
  .web__image:hover img {
    border: 5px solid #fff;
  }
  .web__image:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

.web__image .linkVisit {
  width: 100%;
  height: 40%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 5rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 5rem;
  background-color: rgba(58, 54, 54, 0.918);
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 10px white;
          box-shadow: 0px 0px 15px 10px white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media only screen and (max-width: 30em) {
  .web__image .linkVisit {
    width: 100%;
    font-size: 3.5rem;
  }
}

.web__image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media (hover: hover) {
  .web__image .overlay:hover {
    background-color: rgba(141, 133, 128, 0.384);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.411);
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.411);
  }
}

.web__info {
  padding: 0 2.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.web__info__heading {
  text-align: center;
}

@media only screen and (max-width: 100em) {
  .web__info__heading {
    margin-top: 2rem;
  }
}

.web__info__description {
  font-size: 2.5rem;
  text-align: justify;
}

.web__info a:visited,
.web__info a:link,
.web__info a:active,
.web__info a:link {
  color: #000;
}

.technologyTable {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.technologyTable .card {
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technologyTable .card__body img {
  width: 10rem;
}

footer {
  grid-column: full-start / full-end;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
}

.line {
  width: 80%;
  height: 2px;
  margin: 2rem 0;
}

.line--w {
  background-color: #fff;
}

.line--b {
  background-color: #626281;
  margin: 0 auto;
}

.heading--l {
  font-size: 6rem;
}

.heading--m {
  font-size: 4.5rem;
}

.heading--s {
  font-size: 3rem;
}

.ta-c {
  text-align: center;
}

.mb-s {
  margin-bottom: 2.5rem;
}

.mt--m {
  margin-top: 3rem;
}

.skills {
  padding: 5rem 0;
  grid-column: full-start / full-end;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

@media only screen and (max-width: 35em) {
  .skills {
    padding: 2.5rem 0;
  }
}

.skills__heading {
  text-align: center;
}

.technologies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-row-gap: 3rem;
  margin-top: 4rem;
  padding: 0 5rem;
}

@media only screen and (max-width: 35em) {
  .technologies {
    margin-top: 2.5rem;
    padding: 0 2.5rem;
  }
}

.technologies__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (hover: hover) {
  .technologies__card:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

.technologies__card__head {
  font-size: 3rem;
  font-weight: 300;
}

.technologies__card__body {
  padding: 1rem 5rem;
}

.technologies__card__body img {
  width: 10rem;
}
