@use './variables' as *;

footer {
    border-top: 1px solid $color-border;
    padding: $space-l;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: $color-text-subtle;
    margin-top: $space-xxl;
}
