.header {
    height: 5rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-size: 2.5rem;
    padding:0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    cursor: default;
    background: #fff;
    padding-top: 1rem;

    @media only screen and (max-width: $bp-small){
        padding: 0;
    }
    @media only screen and (max-width: $bp-min){
        justify-content: center;
    }
    .name {
        font-weight: bold;
        font-size: 3rem;

        @media only screen and (max-width: $bp-min){
            font-size: 0;
        }
    }

    &__scroll {
        transition: all .3s ease;
        box-shadow: 0px 0px 5px #000;
        background: #fff;
        padding-top: 0rem;
    }

    .navigation {
        list-style: none;
        display: flex;

        &__item {
            margin: 0 1rem;
            padding-bottom: 1px;
            transition: color  .2s, border-color .2s, background-color .2s, padding .2s;
            cursor: pointer;
           @media (hover: hover){
              &:hover {
                color: #0000007b;
                border-color: #5b58587b;
              }
           }
            
            a:visited,
            a:link,
            a:active,
            a:link {
                text-decoration: none;
                color: #0000007b;
                
            }
            
        }
        
        &__item--not-scrolled {
            border-bottom: 2px solid #282727;
            padding: 1rem;

            @media only screen and (max-width: $bp-medium){
                padding: 0;
                border-bottom: 0;
            }
        }

        &__item--not-scrolled:last-of-type {
            background-color: $text-grey;
            color: #fff;
            border-bottom: 0;
            border-radius: 5px;

            &:hover {
                background-color: #5b58587b;
            }

            @media only screen and (max-width: $bp-medium){
                background-color: #fff;
            }
        }

        &__item-scrolled {
            background-color: none;
            padding: 0;
        }
    }
}