.journey {
    margin: 5rem 2rem;
    font-size: 2.5rem;

    @media only screen and (max-width: $bp-xbig) {
        grid-column: center-start / center-end;

    }

    &__heading {
        text-align: center;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 5rem 0;

        &__heading {
            text-align: center;
        }

        &__body {
            text-align: center;
            max-width: 40em;
        }

        &__footer {
            text-align: center;
            font-size: 2rem;
        }
    }
}