.landscape {
    grid-column: full-start / full-end;
    grid-row: 1/2;
    
    background-image: linear-gradient(rgba(58, 60, 61,0.8), rgba(45, 46, 48,0.8)), url(../img/landscape2.jpg);
    background-attachment: fixed;
    background-position-y: 50%;
    background-position-x: 50%;
    background-size: cover;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;


    letter-spacing: .3rem;
    @media only screen and (max-width: $bp-big) {
        background-image: linear-gradient(rgba(58, 60, 61,0.8), rgba(45, 46, 48,0.8)), url(../img/mediumres.jpg);
        
    }
    @media only screen and (max-width: $bp-min) {
        background-image: linear-gradient(rgba(58, 60, 61,0.8), rgba(45, 46, 48,0.8)), url(../img/mobileres.jpg);
        
        
    }
    &__header{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        &__preheader {
           font-size: 5rem;
           
           @media only screen and (max-width: $bp-min) {
            font-size: 4rem; 
            }
        }

        &__heading {
            
            font-size: 10rem;

            @media only screen and (max-width: $bp-min) {
                font-size: 7rem; 
                }
        }
    
        &__subheading {
            
            font-size: 5rem;
            @media only screen and (max-width: $bp-min) {
                font-size: 3.5rem; 
                }
        }
    }
    

    &__scroll {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__icon {
            font-size: 15rem;
            display: block;
            transition: transform .4s;
            width: 10rem;
            &:hover {
                transform: scale(1.2) translateY(1rem);
            }

        }
    }
}
