.landscape {
    grid-column: full-start / full-end;
    background: rgb(253, 252, 251);
    /* Old browsers */
    background: -moz-linear-gradient(225deg, #ffffff 0%, #ffffff 57%, #ffffff 57%, #f6f0ec 57%, #f6f0ec 100%);
    ;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(225deg, #ffffff 0%, #ffffff 57%, #ffffff 57%, #f6f0ec 57%, #f6f0ec 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(250deg, #ffffff 0%, #ffffff 50%, #f6f0ec 50%, #f6f0ec 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfcfb', endColorstr='#f6f0ec', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */



    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    cursor: default;
    letter-spacing: .3rem;

    &__header {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $text-grey;

        &__preheader {
            font-size: 5rem;

            @media only screen and (max-width: $bp-min) {
                font-size: 4rem;
            }
        }

        &__heading {

            font-size: 10rem;

            @media only screen and (max-width: $bp-min) {
                font-size: 7rem;
            }
        }

        &__subheading {

            font-size: 5rem;

            @media only screen and (max-width: $bp-min) {
                font-size: 3.5rem;
            }
        }
    }


    &__scroll {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__icon {
            font-size: 15rem;
            display: block;
            transition: transform .4s;
            width: 10rem;

            @media (hover: hover) {
                &:hover {
                    transform: scale(1.2) translateY(1rem);
                }
            }


        }
    }
}