.project {
    grid-column: center-start / center-end;
    display: grid;
    justify-items: center;

    padding: 5rem 0;

    &__heading {
        text-align: center;
    }

    @media only screen and (max-width: $bp-small){
        grid-column: full-start / full-end;
        padding: 2.5rem;
    }
}

.web {
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    max-width: 140rem;

    a:visited,
            a:link,
            a:active,
            a:link {
                color: inherit;
                border: 1px dotted inherit;
                
            }

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
      }

    @media only screen and (max-width: 100em)
    {
        flex-direction: column;
    }

    @media only screen and (max-width: $bp-min) {
        padding: 0 0 1rem 0;
        margin-top: 3.5rem;
    }

    &__image{
        position: relative;
        transition: all .3s;
        flex: 1;

        img {
            width: 55rem;
            height: 100%;
            object-fit: cover;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;          
            @media only screen and (max-width: 100em)
            {
                width: 100%;
                height: 40rem;
            }
        }
    }

    &__info {
        padding: 0 2.5rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        &__heading {
            text-align: center;
            @media only screen and (max-width: 100em)
            {
                margin-top: 2rem;
            }
        }

        &__description {
            font-size: 2.5rem;
            text-align: justify;
        }

        &__links {
            font-size: 3rem;
            margin-top: 4rem;
            display: flex;
            justify-content: center;
            gap: 2.5rem;
            align-items: center;
            font-weight: 800;

            img {
                width: 3rem;
                transition: all .3s;

            }

            &__box {
                display: flex;
                align-items: center;
                gap: .5rem;
            }

            a:visited,
                a:link,
                a:active,
                a:link {
                   
                    color: #000;
                    text-decoration: none;
                    transition: all .2s;

                    &:hover  {
                        color: #0000008d;
                        transition: all .3s;
                        img {
                            transform: scale(1.1);
                        }
                    }
                    
                }
        }
        }


}

.web:nth-child(odd) {
    flex-direction: row-reverse;

    @media only screen and (max-width: 100em)
    {
        flex-direction: column;
    }
}

.used-technologies {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    &__name {
        font-weight: 600;
        text-align: center;
    }
}

.github {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    a:visited,
            a:link,
            a:active,
            a:link {
                color: inherit;
                border: 1px dotted inherit;
                
            }

    h2 {
        margin: 4rem 0 2rem 0;
    }

    img {
        transition: all .5s;
        width: 8rem;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }


}