.project {
    grid-column: center-start / center-end;
    grid-row: 4/5;

    padding: 5rem 0;

    &__heading {
        text-align: center;
    }

    @media only screen and (max-width: $bp-small){
        grid-column: full-start / full-end;
        padding: 2.5rem;
    }
}

.web {
    margin-top: 7rem;
    display: flex;

    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.219);
    padding: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
      }

    @media only screen and (max-width: 100em)
    {
        flex-direction: column;
    }

    @media only screen and (max-width: $bp-min) {
        padding: 0 0 1rem 0;
        margin-top: 3.5rem;
    }

    &__image{
        position: relative;
        transition: all .3s;
        
        a:visited,
            a:link,
            a:active,
            a:link {
                text-decoration: none;
                color: #fff;
                
            }

        img {
            width: 55rem;
            height: 31rem;
            object-fit: cover;
            
            @media only screen and (max-width: 100em)
            {
                width: 100%;
            }
        }


        @media (hover: hover) {
            &:hover .linkVisit {
                transform: translateX(-50%) translateY(-50%) ;
                top: 50%;
                left: 50%;
                background-color: rgb(58, 54, 54);
                box-shadow: none;
                opacity: 0;
            }

            &:hover img {
                border: 5px solid #fff;
            }
    
            &:hover {
                transform: scale(.95);
            }
        }
      

        

        .linkVisit {
            width: 80%;
            height: 40%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem 5rem;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-size: 5rem;
            background-color: rgba(58, 54, 54, 0.918);
            text-transform: uppercase;
            box-shadow: 0px 0px 15px 10px rgb(255, 255, 255);
            transition: all .3s;
            
            @media only screen and (max-width: $bp-min) {
                width: 100%;
                font-size: 3.5rem;
            }
        }

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all .4s;
            @media (hover: hover) {
                &:hover {
                    background-color: rgba(141, 133, 128, 0.384);
                    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.411);
                }
            }
            
        }
    }

    &__info {
        padding: 0 2.5rem;
        align-self: flex-start;
        flex: 1;
        // min-width: 30rem;
        &__heading {
            text-align: center;
            @media only screen and (max-width: 100em)
            {
                margin-top: 2rem;
            }
        }

        &__description {
            font-size: 2.5rem;
            text-align: justify;
        }

        a:visited,
            a:link,
            a:active,
            a:link {
               
                color: #000;
                
                
            }
    }

}

.technologyTable {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;

    .card {
        margin: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__body {
            
            img {
                width: 10rem;
            }

            
        }
    }
}
