.skills {
  padding: 5rem 0;
  grid-column: full-start / full-end;
  
  @media only screen and (min-width: $bp-medium){
    grid-column: center-start / center-end;
  }

  @media only screen and (max-width: $bp-small){
    padding: 2.5rem 0;
  }

  &__heading {
    text-align: center;
  }
}

.technologies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-row-gap: 3rem;
  margin-top: 4rem;
  padding: 0 5rem;

  @media only screen and (max-width: $bp-small){
    margin-top: 2.5rem;
    padding: 0 2.5rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
    transition: all 0.5s;
    @media(hover: hover) {
      &:hover {
        transform: scale(1.15);
      }
    }
    
    &__head {
      font-size: 3rem;
      font-weight: 300;
    }

    &__body {
      padding: 1rem 5rem;
      img {
        width: 10rem;
      }
    }
  }
}
