.line {
  width: 80%;
  height: 2px;
  margin: 2rem 0;
}

.line--w {
  background-color: #000;
}

.line--b {
  background-color: rgb(98, 98, 129);
  margin: 0 auto;
}

.heading--l {
  font-size: 5rem;
}

.heading--m {
  font-size: 3.75rem;
}

.heading--s {
  font-size: 3rem;
}

.ta-c {
  text-align: center;
}

.mb-s {
  margin-bottom: 2.5rem;
}

.mt--m {
  margin-top: 3rem;
}

.underscore {
  border-bottom: 2px solid $text-grey;
}